.ligne1{
    background-color: rgba(128, 128, 128, 0.692);
}

.ligne2{
    background-color: rgb(110, 64, 219);
}

.ligne3{
    background-color: yellow;
}

.ligne4{
    background-color: rgba(255, 99, 71, 0.733);
}

.ligne5{
    background-color: rgb(65, 194, 65);
}

.ligne6{
    background-color: rgba(134, 46, 134, 0.685);
}